<%= form_with(model: badge, url: badge.persisted? ? admin_badge_path(badge) : admin_badges_path, method: badge.persisted? ? :patch : :post) do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :rule_type, t('.rule_type') %>
    <%= form.select :rule_type, RuleTypesHelper.constants.map { |c| RuleTypesHelper.const_get(c) } %>
  </div>
  
  <div class="field">
    <%= form.label :condition, t('.rule_condition') %>
    <%= form.text_field :condition %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
