<h1><%= @badge.name %></h1>

<div>
  <%= image_tag @badge.image_url, height: 100, width: 100 %>
</div>

<h2><%= @badge.description %></h2>

<%= link_to t('.edit'), edit_admin_badge_path(@badge) %>
<%= link_to t('links.back'), admin_badges_path %>
