<div>
  <h3><%= test.title %></h3>
  <p>Уровень: <%= test.level %></p>
  <p>Количество вопросов: <%= test.questions.count %></p>
  <%= link_to 'Просмотр', admin_test_path(test) %> |
  <%= link_to 'Редактировать', edit_admin_test_path(test) %> |
  <%= link_to 'Удалить', admin_test_path(test), method: :delete, data: { confirm: 'Вы уверены?' } %>
</div>
