<p>Загаловок: <%= @test.title %></p>
<p>Уровень: <%= @test.level %></p>
<p>Категория: <%= @test.category.title %></p>
<p>Автор: <%= @test.author.email %></p>

<h2>Список вопросов:</h2>
<%= render partial: 'questions/question', collection: @test.questions %>
<%= link_to 'Добавить вопрос', new_test_question_path(@test) %>

<%= link_to 'Назад', admin_tests_path %>
