<p><%= t('.header', title: @test.title) %></p>
<p><%= t('.level', level: @test.level) %></p>
<p><%= t('.category', title: @test.category.title) %></p>
<p><%= t('.author', email: @test.author.email) %></p>

<h2><%= t('.questions_list') %></h2>
<%= render partial: 'admin/questions/question', collection: @test.questions %>
<%= link_to t('links.add'), new_admin_test_question_path(@test) %>

<%= link_to t('links.back'), admin_tests_path %>
