<p>Загаловок: <%= @test.title %></p>
<p>Уровень: <%= @test.level %></p>
<p>Категрия:<%= @test.category.title %></p>
<p>Автор:<%= @test.author.username %></p>

<%= link_to 'Редактировать', edit_test_path(@test) %> |
<%= link_to 'Назад', tests_path %> |
<%= link_to 'Вопросы теста', test_questions_path(@test) %>
