<footer class="container-fluid bg-light text-dark py-3 d-flex justify-content-center">
  <div class="container text-center">
    <p>
      <%= current_year %> 
      <%= t('info.author') %> 
    </p>
    <p><%= github_url('BystrovN', 'test_guru') %><br><%= t('info.about') %></p>
    <p><%= link_to t('info.school'), "https://thinknetica.com" %></p>
    
    <%= render 'shared/feedback_form' %>
  </div>
</footer>
